h1 {
	font-size: 60px ;
	text-align: center;
	font-family: 'Bilbo', cursive;
}
html {
	background-color: #b3b3cc;
}
body {
	background-color: #b3b3cc"
  width: 600px;
  margin: 0 1;
  padding: 0 20px 20px 20px;
  }